@CHARSET "UTF-8";
/*   ****1**** ****2**** ****3**** ****4**** ****5**** ****6**** ****7***** */
/* リセットCSS　*/
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, selector {
margin: 0; padding: 0; border: 0; font-weight: normal; font-size: 100%; vertical-align:baseline;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
article, header, footer, aside, figure, figcaption, nav, section { display:block; }
body { line-height: 1; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
ol, ul { list-style: none; list-style-type: none; }

/* */
body	{ font-family:"メイリオ","Meiriyo","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","sans-serif";
			font-size: 12px; margin: 0;}
nav 	{ height: 36px }
fieldset{ border: 1px #cccccc dotted; }
input	{ border-width: 1px; font-size: 12px; }
textarea{ font-size: smaller; }
.statusbar	{ overflow: auto; resize: both; position: absolute; z-index: 99;
			top: 0px; left: 200px; height: 20px; width: 200px; background: #fff; }
.statusbar > iframe { overflow: hidden; width: 95%; height: 90%; }

/* ハンバーガーメニュー */
.hm_wrap { position :fixed; display: inline-block; visibility: hidden; z-index: 96;
	top :0; right :0; width :300px; height:100%; padding :0; background :#fff; }
/* ハンバーガーボタン */
.hm_btn, .hm_btn span { display: inline-block; box-sizing: border-box;
	transition: all 0.4s; visibility: visible; }
.hm_btn { position: relative; display: block; cursor: pointer; z-index: 98;
	width: 36px; height: 36px; background-color: #fff; float: right;
	border: 1px solid #ccc; box-shadow:	1px 1px 1px #ccc; border-radius: 4px;}
.hm_btn span { top: 15px; height: 4px; border-radius: 2px;
	position: absolute; left: 6px; width: 63%; background-color: #848484; }
.hm_btn span::before, .hm_btn span::after {
	position: absolute; width: 21px; height: 4px; background: #848484;
	display: block; content: ''; transition: transform 0.4s; }
.hm_btn span::before { top: -8px; }
.hm_btn span::after { top: 8px; bottom: 0; }
.hm_menu_check:checked ~ .hm_btn span {	background: #fff; }
.hm_menu_check:checked ~ .hm_btn span::before { transform: translateY(8px) rotate(-45deg); }
.hm_menu_check:checked ~ .hm_btn span::after { transform: translateY(-8px) rotate(45deg); }
/* メニュー 全体 */
.hm_title { /* ハンバーガーメニューオープン時の見出し */
	position: relative;	display: inline-block;  visibility: visible; color: #999;
	float: left; line-height: 18px; margin: 0 0 0 15px; opacity: 0; z-index: 98;
	transform: translate3d(0, -15px, 0); transition: transform 0.4s, opacity 0.5s;
	word-wrap: break-word; width: 200px; }
.hm_menu_check:checked ~ .hm_title { transform: none;  opacity: 1; }
.hm_menu_wrap {	position: absolute;  visibility: visible; width :100%; height :100%;
	background: #fff; opacity: 0.9;	top: 0; right: -100%; transition: right 0.4s; 
	padding: 36px 0 0;}
.hm_menu_check:checked ~ .hm_menu_wrap { right: 0; }
 /* アコーデオンメニュー */
.accordion { list-style-type: none; margin: 0; padding: 0; }
.menu_lv1 { margin: 0 10px; }
.menu_lv1 input { display: none; }
.menu_lv1 .legend > input { display: inline; cursor: pointer; }
.menu_lv1 .legend {cursor: pointer; display:inline-block; width:100%; padding: 8px ; }
.menu_lv1 > label, .menu_lv1 > a { display: block; cursor: pointer;
	padding: 10px; border-bottom: 1px solid #fff; background: #eee; }
.menu_lv1 > input:checked + .menu_lv2 { height: auto; padding: 10px;  }
.menu_lv1 > label:hover, .menu_lv1 a:hover { background: rgba(0,0,0,0.2); }

 /* 詳細メニューリスト */
.menu_lv2 { transition: 0.2s; height: 0; overflow: hidden; padding: 0 10px; background: #ddd; }
.menu_lv2 li a { position: relative; display: block; overflow: hidden; padding: 8px 22px;
	text-decoration: none; color: #000; }

/* dygraph用設定 */
.item.active{ background: rgba(0,0,0,0.2) !important;
			  border: rgba(0,0,0,0.2) !important; }
.tatLine	{ position: absolute;	box-sizing: content-box; display: block; 
	margin-top: -3.5px; height: 8px; border-radius: 4px; background: rgba(192,192,192,0.4); }
.column		{ display: inline-block; }
.dygraph-annotation { color: rgba(0,0,0,0.8) !important; background-color: rgba(256,256,256,0.2); 
	font-family: Arial, sans-serif;	font-size: 10px; white-space: nowrap; width: 20px !important;}

#plotsArea	{ top: 20px; }
#chartLabels label 		{ display:inline-block; width:80px; }
#chartLabels .datetime		{ display:inline-block; width:170px; }
#chartPlots div {float: left;}
#chartPlots input[type=checkbox] {vertical-align:middle; margin: 1px 0px 1px 5px;}
#chartPlots label	{ position:relative; cursor: pointer; left:-5px; 
						padding: 0px 5px; border-radius: 5px;　}
#chartPlots input[type=radio] { display:none;　}
#chartPlots input[type=radio]:checked + .label { background-color: silver;　}

footer		{ position: fixed; bottom: 0%; text-align:　right; font-size:　smaller;　}
