@CHARSET "UTF-8";
/*   ****1**** ****2**** ****3**** ****4**** ****5**** ****6**** ****7***** */
/* リセットCSS　*/
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, selector {
margin: 0; padding: 0; border: 0; font-weight: normal; font-size: 100%; vertical-align:baseline;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
article, header, footer, aside, figure, figcaption, nav, section { display:block; }
body { line-height: 1; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
ol, ul { list-style: none; list-style-type: none; }

/* */
body	{ font-family:"メイリオ","Meiriyo","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","sans-serif";
			font-size: 12px; margin: 0;}
nav 	{ height: 36px }
fieldset{ border: 1px #cccccc dotted; }
input	{ border-width: 1px; font-size: 12px; }
textarea{ font-size: smaller; }
select  { background: #eee;}
.g_wrap { width: 100%; height: 100%; }
.statusbar	{ overflow: auto; resize: both; position: absolute; z-index: 99;
			top: 0px; left: 200px; height: 20px; width: 200px; background: #fff; }
.statusbar > iframe { overflow: hidden; width: 95%; height: 100%; }
footer		{ position: fixed; bottom: 0%; text-align:　right; font-size:　smaller;　}

/* ハンバーガーメニュー */
.hjnBurgerTray { position :fixed; display: inline-block; visibility: hidden; z-index: 96;
	top :0; right :0; width :305px; height:100%; padding :0; background :#fff; }
.hjnCtrlBox { position: relative; float: right; cursor: pointer; z-index: 98;
	width: 40px; height: 40px; background-color: #fff; visibility: visible;
	border: 1px solid #ccc; box-shadow:	1px 1px 1px #ccc; border-radius: 4px;
	line-height: 12px; box-sizing: border-box;	transition: all 0.4s; }
/* ハンバーガーボタン */
.hjnBurger { display: none; }
.hjnBurger + label span { top: 17px; height: 4px; border-radius: 2px;
	position: absolute; left: 6px; width: 69%; background-color: #888; }
.hjnBurger + label span::before, .hjnBurger + label span::after { border-radius: 2px;
	position: absolute; width: 26px; height: 4px; background: #888;
	display: block; content: ''; transition: transform 0.4s; }
.hjnBurger + label span::before { top: -8px; }
.hjnBurger + label span::after { top: 8px; }
.hjnBurger:checked + label span { background: #fff; }
.hjnBurger:checked + label span::before { transform: translateY(8px) rotate(-45deg); }
.hjnBurger:checked + label span::after { transform: translateY(-8px) rotate(45deg); }

/* メニュー 全体 */
.hjnBurgerTitle { /* ハンバーガーメニューオープン時の見出し */
	position: absolute;	visibility: visible; color: #999; background:#fff; width: 100%;
	padding: 0 40px 0 15px; opacity: 0; z-index: 97;
	transform: translate3d(0, -15px, 0); transition: transform 0.4s, opacity 0.5s; }
.hjnBurgerTitle p{ word-wrap: break-word; line-height: 18px; width: 160px; }
.hjnBurger:checked ~ .hjnBurgerTitle { transform: none;  opacity: 1; }
.hjnBurgerWrap {	position: absolute;  visibility: visible; width :100%; height :100%;
	background: #fff; opacity: 0.9;	top: 0; right: -100%; transition: right 0.4s; 
	padding: 40px 0 0 0; overflow: scroll;}
.hjnBurger:checked ~ .hjnBurgerWrap { right: 0; }
/* モードボタン */
.hjnBoxSwitch { display: none; }
.hjnBoxSwitch + label span::before, .hjnBoxSwitch + label span::after
		 { display: inline-block; text-align:center; transition: all 0.4s; width: 100%}
.hjnBoxSwitch + label span::before { color: #ddd; }
.hjnBoxSwitch + label span::after  { color: #888; font-weight: bold; }
.hjnBoxSwitch:checked + label span::before { color: #888; font-weight: bold;}
.hjnBoxSwitch:checked + label span::after  { color: #ddd; }
#hjnBoxPlaceOn + label span::before { content: "Place on"; }
#hjnBoxPlaceOn + label span::after  { content: "side"; }
/* スイッチラベル */
.hjnBoxOn { display: none; }
.hjnBoxOn + label { text-align:center; color: #ddd; }
.hjnBoxOn:checked + label { color: #888; font-weight: bold;}

 /* アコーデオンメニュー */
.hjnAccordion { list-style-type: none; margin: 0; padding: 0; }
.hjnMenuLv1 { position:rerative; margin: 0 10px; }
.hjnMenuLv1 > input { display: none;}
.hjnMenuLv1 .legend > input { display: inline; cursor: pointer; }
.hjnMenuLv1 .legend {cursor: pointer; display:inline-block; width:100%; padding: 8px 0 8px 8px ; }

.hjnMenuLv1 > label::after { position: absolute; content: ""; border-style: solid;
	border-color: #888 transparent transparent transparent;
	border-width: 8px 4px 0 4px; right: 40px; transition: 0.4s;}
.hjnMenuLv1 > input:checked ~ label::after { transform: rotate(90deg); }

.hjnMenuLv1 > label, .hjnMenuLv1 > a { display: block; cursor: pointer;
	padding: 10px; border-bottom: 1px solid #fff; background: #eee; }
.hjnMenuLv1 > label:hover,  .hjnMenuLv1 a:hover { background: rgba(0,0,0,0.2); }
.hjnMenuLv1 > label:active, .hjnMenuLv1 a:active { background: #999; }
.hjnMenuLv1 > input:checked ~ .hjnMenuLv2 { height: auto; padding: 10px; }

/* 詳細メニューリスト  ボタン */
.hjnMenuLv2 { transition: 0.2s; height: 0; overflow: hidden; padding: 0 10px; background: #ddd; }
.hjnMenuLv2 li a, .hjnMenuLv2 ol a { position: relative; display: block; overflow: hidden; 
	text-decoration: none; color: #000; border: outset #fff; cursor: pointer; border-radius: 14px; }
.hjnMenuLv2 li a:active, .hjnMenuLv2 ol a:active { background: #999; border: inset #fff;}
.hjnMenuLv2 li label, .hjnMenuLv2 ol label { cursor: pointer; border-radius: 14px; }
.hjnMenuLv2 li a label, .hjnMenuLv2 ol a label { display: block; width: 198px; padding: 8px 22px;}
.hjnMenuLv2 li a { padding: 8px 22px; }

.hjnMenuLv2 > ol input[type="file"] { display: none; } /* File Open用 */
/* 詳細メニューリスト  文字 */
.hjnMenuLv2 ol { display: block; padding-left: 5px; margin: 2px 0; }
.hjnMenuLv2 ol label { height: 12px; }
.hjnMenuLv2 ol input { height: 12px; text-align: right; border-radius: 5px; }
.hjnMenuLv2 ol input[type="radio"],        .hjnMenuLv2 ol .hjnLabel4Input, .hjnMenuLv2 select  { cursor: pointer; border-radius: 5px; }
.hjnMenuLv2 ol input[type="radio"]:hover,  .hjnMenuLv2 ol .hjnLabel4Input:hover { background: rgba(0,0,0,0.2); }
.hjnMenuLv2 ol input[type="radio"]:active, .hjnMenuLv2 ol .hjnLabel4Input:active { background: #999; }

.hjnMenuLv2 ol .hjnLabel4Input { display: inline-block; position: relative; padding-left: 1em; }
.hjnMenuLv2 ol input[type="radio"] { position: absolute; top: 0; bottom: 0; left: 0; margin: auto; }

/* dygraph用設定 */
.item.active{ background: rgba(0,0,0,0.2) !important;
			  border: rgba(0,0,0,0.2) !important; }
.column		{ display: inline-block; }
.dygraph-annotation { color: rgba(0,0,0,0.8) !important;
	background-color: rgba(256,256,256,0.2) !important; width: 40px !important; }
#chartLabels label 		{ display:inline-block; width:70px; }
#chartLabels .datetime	{ display:inline-block; width:300px; }

/* Bottom detail graph用設定 */
#chartPlots div { float: left; padding: 2px 0;}
.hjnPlot > input[type=checkbox] { visibility: hidden; cursor: pointer; z-index: 98;
			float: left; margin: -2px 0 0 0; width: 16px; height: 16px;
			background-color: #fff; box-shadow: 1px 1px 1px #ccc; }
.hjnPlot > input[type=checkbox] + label{ visibility: hidden; z-index: 97;
			float: left; height: 3px; width: 9px; left: -15px; top: 2px; background: #aaa;
			padding: 0; border-radius: 2px;}
.hjnPlot:hover > input[type=checkbox]{ visibility: visible;	}
.hjnPlot:hover > input[type=checkbox] + label { visibility: visible; }
.hjnPlot { margin: 2px 0; }
.hjnPlot > input[type=radio] { display:none;　}
.hjnPlot > label { position:relative; cursor: pointer; margin: 2px;  background-color: #eee;
					padding: 0px 5px; border-radius: 5px; }
.hjnPlot > input[type=radio]:checked + label { background-color: silver;　}
#detailTimeRange { padding: 8px; }
